.container {
    max-width: 1500px;
    width: 95%;
    margin: 2rem auto;

    form {
        margin-top: 1rem;
        background-color: var(--clear-white);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.375rem;

        select {
            padding: 0.375rem;
        }

        button {
            width: 7.5rem;
            padding: 0.375rem 0;
            cursor: pointer;
        }
    }
}

#page-title {
    margin-top: 1.25rem;
}

#page-subtitle {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

.p-3 {
    padding: 1.5rem;
}

.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >* {
        width: 100%;
    }

    .report-header__left {
        display: flex;
        gap: 1rem;
    }

    .report-header__right {
        display: flex;
        justify-content: flex-end;
    }

}

.report-body {
    .report-body__header {
        text-align: center;

        p+p {
            margin-top: 0.25rem;
        }
    }

    .report-body__table {
        table {
            margin-top: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-collapse: collapse;
            width: 100%;
        }

        thead tr {
            background-color: rgba(0, 0, 0, 0.1);
        }

        th {
            text-align: left;
            padding: 0.5rem 0 0.5rem 1rem;
        }

        td {
            border-top: 1px solid rgba(0, 0, 0, 0.3);
            border-collapse: separate;
            padding: 0.5rem 0 0.5rem 1rem;
        }

        td:nth-child(2),
        th:nth-child(2) {
            text-align: center;
        }

        .account-name {
            padding: 0.5rem 0 0.5rem 3rem;
        }

        .total-row {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

hr {
    color: rgba(0, 0, 0, 0.3);
}
