.container {
    max-width: 1500px;
    width: 95%;
    margin: 2rem auto;
}

.insights-header {
    p {
        font-size: 0.8rem;
        margin-top: 0.25rem;
        color: var(--grey);
    }

    #page-title {
        font-size: 1.5rem;
    }

    select {
        background-color: var(--clear-white);
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0.25rem;
        outline: none;
        padding: 0.5rem 1.5rem;
    }

    select:hover {
        opacity: 0.8;
    }
}

.insights-header__left {
    display: flex;
    flex-direction: column;
}

.insights-header__right {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    select,
    button {
        padding: 0.375rem 0.75rem;
    }

    button {
        background-color: var(--main-blue);
        color: var(--off-white);
        border-radius: 0.15rem;
        border: none;
        outline: none;
        cursor: pointer;
    }

    button:hover {
        opacity: 0.85;
    }
}

.insights-body {
    margin: 1rem 0;
}

/* ---------- RECEIVABLES & PAYABLES ---------- */
.receivables-vs-payables {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .receivables,
    .payables {
        background-color: var(--clear-white);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        .chart-container {
            max-width: 20rem;
            width: 90%;
            margin: 1rem auto 0;
        }
    }

    .p-3 {
        padding: 1rem;
    }

    .pr-texts h2 {
        font-size: 1.125rem;
    }

    .pr-summary {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;

        div {
            flex-basis: 200px;
        }

        h3 {
            font-size: 0.85rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    hr {
        color: rgba(0, 0, 0, 0.3);
    }
}


/* ---------- PROFIT & LOSS AND CASH FLOW ---------- */
.barchart-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clear-white);
    border-radius: 0.375rem;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    .barchart-card__header h2 {
        font-size: 1.125rem;
    }

    .barchart-card__body {
        display: flex;
        flex-direction: column;

        .barchart-card__body--texts {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

}

.summary-card {
    padding: 20px;
    border-radius: 8px;
    text-align: right;

    .card-label {
        font-size: 14px;
        color: #6c757d;
        margin-bottom: 8px;
    }

    .card-value {
        font-size: 18px;
        font-weight: 600;
    }
}

.pl-revenue {
    background: var(--light-green);
}

.pl-expenses {
    background: var(--light-blue);
}

.pl-profit {
    background: var(--orange);
}

.card-value {
    color: var(--soft-black);
}

.inflows {
    background-color: var(--peach);
}

.outflows {
    background-color: var(--violet)
}

@media(min-width: 600px) {
    .insights-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .insights-header__right {
        margin: 0;
    }
}

@media(min-width: 800px) {
    .receivables-vs-payables {
        flex-direction: row;

        .receivables,
        .payables {
            width: 100%;
        }

        .pr-summary {
            div {
                flex-basis: 150px;
            }
        }
    }

    .barchart-card {
        .barchart-card__body {
            flex-direction: row;
            gap: 1rem;

            .chart-container {
                width: 60%;
            }

            .barchart-card__body--texts {
                width: 40%;
                justify-self: flex-end;
                align-self: flex-end;
            }
        }
    }
}
