.container {
    max-width: 1500px;
    width: 95%;
    margin: 2rem auto;
    background-color: var(--clear-white);
}

.pad {
    padding: 2rem;
}

#page-title {
    margin-bottom: 0.5rem;
    padding: 2rem 0 0.5rem 2rem;
    font-size: 1.85rem;
}

hr {
    color: var(--off-white);
}

.table-wrapper {
    overflow: scroll;
    border-radius: 0.65rem;
}

#journalTable {
    margin-top: 1rem;
    width: 100%;
}

table,
th,
td {
    border: 1px solid var(--off-white);
    border-collapse: collapse;
}

.row {
    display: flex;
    gap: 1rem;
}

.row>* {
    width: 100%;
}

.input-wrapper label {
    font-size: 0.85rem;
}

.notes-wrapper {
    margin-top: 1rem;
}

th {
    background-color: var(--main-blue);
    color: var(--off-white);
    padding: 0 0.65rem;
    text-align: center;
    font-size: 0.75rem;
}

#journalTable select,
#journalTable input {
    border: none;
    outline: none;
    border-radius: 0rem;
}

#journalTable select:focus,
#journalTable input:focus {
    border: 1px solid var(--main-blue);
    outline: none;
}

select,
textarea,
input {
    width: 100%;
    padding: 0.15rem;
    border-radius: 0.25rem;
    font-size: 0.785rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--clear-white);
}

#description {
    padding: 0.65rem;
    resize: vertical;
}

.row-description {
    resize: none;
    width: 35rem;
}

.tax-input {
    background-color: var(--off-white);
}

.add-row-btn {
    background-color: var(--green);
    color: var(--off-white);
    margin-top: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.submit-btn {
    background-color: var(--main-blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button-container.outside {
    flex-direction: row;
    padding: 2rem;
}

#cancel-button {
    background-color: var(--grey);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.25s;
}

#cancel-button:hover {
    opacity: 0.85
}

.submit-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (min-width: 800px) {
    .button-container button {
        width: 12rem;
        font-size: 0.85rem;
    }

    th {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    select,
    input {
        padding: 0.65rem;
        font-size: 0.785rem;
    }
}
