.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.create-journal-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.create-journal-form button {
    padding: 0.75rem 1.25rem;
    background-color: var(--green);
    border: none;
    border-radius: 0.25rem;
    color: var(--off-white);
    outline: none;
    cursor: pointer;
    transition: opacity 0.25s;
}

.container form button[type='submit']:hover {
    opacity: 0.85;
}

.first-texts p {
    font-size: 0.85rem;
    margin-top: 0.25rem;
}

.select-container {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.75rem;
}


.select-container #submit-filters {
    background-color: var(--main-blue);
    padding: 0rem 3rem;
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--off-white);
}

.select {
    width: 100%;
    background-color: var(--clear-white);
    padding: 0.65rem;
    border: none;
    border-radius: 5px;
}

.approved {
    color: var(--green);
}

.pending {
    color: goldenrod;
}

.rejected {
    color: red;
}
