dialog {
    border: none;
    border-radius: 10px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog h2 {
    padding: 2.25rem 0 1.75rem 1.75rem;
}

dialog form {
    display: flex;
    border-top: 1px solid var(--grey);
    padding: 1.75rem;
}

.form-details>* {
    margin-top: 1rem;
}

.input-box:first-child {
    margin-top: 0;
}

.d-flex {
    display: flex;
    gap: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

dialog input {
    padding: 0.5rem;
}

dialog button {
    color: var(--off-white);
    min-width: 5rem;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

dialog button[type="submit"] {
    background-color: var(--main-blue);
}

dialog button[type="button"] {
    background-color: var(--grey);
}
