dialog {
    border: none;
    border-radius: 10px;
    margin: auto;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#user-dialog-title {
    background-color: var(--main-blue);
    color: var(--off-white);
    padding: 1rem 2rem;
}

#user-dialog-form {
    display: flex;
    padding: 1.75rem;
}

.form-details>* {
    margin-top: 1rem;
}

.input-box:first-child {
    margin-top: 0;
}

.d-flex {
    display: flex;
    gap: 1rem;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button:hover {
        opacity: 0.85;
    }
}

select#staff-type {
    padding: 0.5rem;
    background-color: var(--clear-white);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.175rem;
    outline: none;
}

select#staff-type:hover {
    border: 1px solid rgba(0, 0, 0, 0.75);
}

dialog input {
    padding: 0.5rem;
}

dialog button {
    color: var(--off-white);
    min-width: 5rem;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

dialog button[type="submit"] {
    background-color: var(--main-blue);
}

dialog button[type="button"] {
    background-color: var(--grey);
}

@media (max-width: 696px) {
    dialog form {
        display: block;
    }
}

@media (max-width: 470px) {

    dialog h2 {
        font-size: 1rem;
    }

    .d-flex {
        flex-direction: column;
    }
}

/* confirm delete dialogs */
.delete-item-dialog {
    max-width: 550px;
    width: 95%;

    h3 {
        padding: 1rem 2rem;
        background-color: var(--main-blue);
        color: var(--off-white);
    }

    form {
        padding: 1rem 2rem;

        h4 {
            font-weight: 500;
            font-size: 1rem;
        }

        p {
            font-size: 0.75rem;
            color: var(--grey);
        }

        button {
            margin-top: 1.5rem;
            transition: opacity 0.15s;
        }

        button:hover {
            opacity: 0.85
        }
    }
}
