:root {
    --main-blue: #1B80C3;
    /* --dark-blue: #112D40; */
    --dark-blue: #2B3C56;
    --dark-blue-secondary: #133e5a;
    --off-white: #EEE;
    --clear-white: #FEFEFE;
    --main-font: "Plus Jakarta Sans";
    --grey: #7F7F7F;
    --green: #609950;
    --soft-black: #020202;
    --subtitle: #BEC6D0;
    --violet: rgba(170, 91, 213, 255);
    --peach: rgba(255, 197, 132, 255);
    --light-green: rgba(195, 248, 223, 255);
    --light-blue: rgba(199, 218, 255, 255);
    --orange: rgba(237, 161, 13, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    text-wrap: balance;
}
