.confirmable-dialog {
    border: none;
    border-radius: 10px;
    margin: auto;
    max-width: 550px;
    width: 95%;
}

.confirmable-dialog__title {
    padding: 1rem 2rem;
    background-color: var(--main-blue);
    color: var(--off-white);
}

.confirmable-dialog .confirmable-content {
    padding: 1rem 2rem;

    h4 {
        font-weight: 500;
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
        color: var(--grey);
    }
}


.confirmable-dialog .confirmable-content button {
    min-width: 5rem;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.15s opacity;
}

.confirmable-dialog .confirmable-content button:hover {
    opacity: 0.85;
}

.affirm-button {
    background-color: var(--main-blue);
    margin-top: 1.5rem;
}

.deny-button {
    background-color: var(--grey);
}
