#csv-dialog {
    max-width: 550px;
    width: 95%;

    h2 {
        background-color: var(--main-blue);
        color: var(--off-white);
        padding: 1rem 2rem;
    }

    form {
        display: block;
        padding: 1rem 2rem;
    }

    .dialog-select-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,
        select {
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: var(--clear-white);
        }

        input:hover,
        select:hover {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        select {
            padding: 0.5rem;
            appearance: none;
        }
    }

    .dialog-button-container {
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;

        button:hover {
            opacity: 0.85;
        }
    }
}
