.cards-row {
    .card {
        flex: 1 1 250px;
        display: flex;
        gap: 0.85rem;
        padding: 1rem;
        background-color: var(--clear-white);
        border-radius: 0.5rem;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }


    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-blue);
        width: 4rem;
        height: 4rem;
        border-radius: 0.25rem;
    }

    i {
        color: var(--off-white);
        font-size: 1.5rem;
    }

    .card-details {
        h3 {
            font-size: 0.8rem;
            font-weight: 500;
        }

        p {
            margin-top: 0.275rem;
            font-weight: 600;
            font-size: 1.15rem;
        }
    }
}

@media(min-width: 830px) {
    .cards-row {
        .card-details {
            p {
                margin-top: 0.5rem;
            }
        }
    }
}


@media(min-width: 1344px) {
    .cards-row {
        .card-details {
            h3 {
                font-size: 0.875rem;
            }

            p {
                font-size: 1.15rem;
            }
        }
    }
}
