.table-wrapper {
    overflow: scroll;
    border-radius: 4px;
    margin: 1rem 0;
    border: 1px solid var(--off-white);
}

.table-management {
    background-color: var(--clear-white);
    width: 100%;
    min-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    background-color: var(--main-blue);
}


.table-management th,
.table-management td {
    padding: 1rem 0 1rem 1rem;
    font-size: 0.7rem;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 5rem;
}

.table-management th {
    color: var(--off-white);
}

tbody tr+tr td {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

tbody tr:hover {
    background-color: var(--off-white);
}

.action-column div {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;

    button {
        /* display: flex; */
        background-color: transparent;
        border: none;
        outline: none;
    }
}

@media(min-width: 1200px) {

    .table-management th,
    .table-management td {
        font-size: 0.85rem;
    }
}
