.dashboard-wrapper {
    max-width: 1500px;
    width: 95%;
    margin: 0 auto;
}

.invoice-header-row {
    margin-top: 1rem;
}

.invoice-header h2 {
    font-size: 1.75rem;
}

.invoice-header p {
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.create-invoice-buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;

    button {
        width: 5rem;
        height: 2.5rem;
        background-color: var(--main-blue);
        border: none;
        border-radius: 0.275rem;
        color: var(--off-white);
        font-size: 0.75rem;
        outline: none;
        cursor: pointer;
        transition: opacity 0.25s;
    }

    #import-btn {
        background-color: var(--dark-blue);
    }
}

.invoice-container {
    margin: 1.25rem 0;
    padding: 1.5rem 1rem;
    background-color: var(--clear-white);
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.invoice-toolbar .left>*,
.invoice-toolbar .right>* {
    margin-bottom: 0.85rem;
}

.invoice-toolbar select {
    font-family: "Plus Jakarta Sans", FontAwesome;
    width: 100%;
    background-color: var(--clear-white);
    padding: 0.65rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 0.75rem;
}

.search-input {
    position: relative;
    flex-grow: 1;
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.6;
    font-size: 0.75rem;
}

.invoice-toolbar input[type="search"] {
    padding: 0.65rem 0.65rem 0.65rem 30px;
    font-size: 0.75rem;
    background-color: var(--off-white);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    outline: none;
    width: 100%;
}


#run-button {
    font-size: 0.75rem;
    padding: 0.65rem 0;
    background-color: var(--main-blue);
    border: none;
    border-radius: 3px;
    outline: none;
    color: var(--off-white);
    transition: opacity 0.25s;
    cursor: pointer;
    width: 100%;
}

#run-button:hover {
    opacity: 0.85;
}

.status {
    font-size: 0.7rem;
}

.status.approved {
    color: var(--green);
}

.status.pending {
    color: goldenrod;
}

.status.rejected {
    color: red;
}

@media(min-width: 700px) {
    .invoice-header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .create-invoice-buttons {
        margin-top: 0rem;
    }
}

@media(min-width: 800px) {
    .invoice-toolbar {
        display: flex;
        justify-content: space-between;
    }

    .left>*,
    .right>* {
        margin-bottom: 0;
    }

    .left,
    .right {
        display: flex;
        gap: 0.5rem;
    }

    #run-button {
        width: 5rem;
    }

}

.table-management tbody tr {
    cursor: pointer;
}

.table-management td:nth-child(5),
.table-management th:nth-child(5) {
    text-align: right;
}
