.container {
    max-width: 1500px;
    width: 95%;
    margin: 0 auto;
}


hr {
    color: rgba(0, 0, 0, 0.1);
}

.privacy-section {
    display: grid;
    gap: 1.5rem;
}

.privacy-row {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.privacy-row__text h3 {
    font-size: 1rem;
    font-weight: 600;
}

.privacy-row__text p {
    font-size: 0.75rem;
    color: var(--grey);
    margin: 0.5rem 0;
}

/* #bin, */
/* #download, */
/* .privacy-section button { */
/*     width: 9rem; */
/*     padding: 0.5rem 0.75rem; */
/*     border-radius: 0.375rem; */
/*     font-weight: 500; */
/*     font-size: 0.725rem; */
/*     border: none; */
/*     color: var(--off-white); */
/*     cursor: pointer; */
/* } */

.blue-btn {
    background-color: var(--main-blue);
}

#logout,
#disable-two-factor,
#delete-account {
    background-color: #CA3A3A;
}

button:disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

@media (min-width: 650px) {
    .privacy-row {
        display: flex;
        justify-content: space-between;
    }
}
