dialog h3 {
    background-color: var(--main-blue);
    color: var(--off-white);
    padding: 1rem 2rem;
}

dialog {
    max-width: 550px;
    width: 90%;
}

#password-form {
    display: grid;
    gap: 1rem;
    padding: 1rem 2rem;

    div {
        display: flex;
        flex-direction: column;
    }
}

.dialog-buttons {
    padding: 1rem 2rem;

    button,
    input {
        width: 10rem;
        padding: 0.75rem 0;
        font-size: 0.85rem;
    }

    input {
        background-color: var(--grey);
        border: none;
        outline: none;
        color: var(--off-white);
        cursor: pointer;
        border-radius: 5px;
    }

    button:hover,
    input:hover {
        opacity: 0.85;
    }
}

.mfa-dialog {
    #mfa-form {
        display: grid;
        padding: 1rem 2rem;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    button[type='submit'] {
        background-color: #CA3A3A;
    }

}

.delete-dialog {
    #delete-form {
        display: grid;
        padding: 1rem 2rem;

        div {
            display: flex;
            flex-direction: column;
        }
    }

    button[type='submit'] {
        background-color: #CA3A3A;
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled:hover {
    opacity: 0.5 !important;
}
