.security-dialog {
    max-width: 550px;
    width: 90%;
    border: none;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    font-family: var(--main-font);
    overflow: hidden;
    background-color: white;

    label {
        font-size: 0.8rem;
    }

    input[type="password"],
    input[type="text"],
    input[type="email"] {
        padding: 0.6rem 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-family: var(--main-font);
        font-size: 0.75rem;
        transition: border 0.3s ease;
    }
}

.security-dialog h3 {
    background-color: var(--main-blue);
    color: var(--off-white);
    padding: 1.25rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.security-dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.95rem;
    }
}

input:focus {
    border-color: var(--main-blue);
    outline: none;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 2rem;

    button {
        padding: 0.6rem 1.5rem;
        font-size: 0.75rem;
        font-weight: 500;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease, opacity 0.2s ease;
    }

    input {
        background-color: var(--grey);
        color: var(--off-white);
    }

    button:hover,
    input:hover {
        opacity: 0.9;
    }

    input[type="reset"] {
        padding: 0.6rem 1.5rem;
        font-size: 0.75rem;
        font-weight: 500;
        background-color: transparent;
        color: var(--danger-red);
        border: 1px solid var(--danger-red);
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    input[type="reset"]:hover {
        background-color: var(--danger-red);
        color: var(--off-white);
    }

}

.mfa-dialog .dialog-buttons button,
.delete-dialog .dialog-buttons button {
    background-color: var(--danger-red);
    color: white;
}

.dialog-buttons .disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled:hover {
    opacity: 0.5 !important;
}
