#title {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

#subtitle {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: var(--subtitle);
}


body {
    display: flex;
    flex-direction: row;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-image {
    width: 100%;
    height: 100dvh;
}

.right-section {
    background-color: var(--dark-blue);
    color: var(--off-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

#subtitle {
    color: var(--subtitle);
}

.right-section form {
    width: 100%;
    max-width: 400px;
}

.input-wrapper+.input-wrapper {
    margin-top: 1rem;
}

.input-box {
    position: relative;
    margin-top: 5px;
    border-radius: 7px;
    overflow: hidden;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 0 12px 40px;
    font-size: 1rem;
    outline: none;
    background-color: var(--off-white);
}

.input-wrapper input:focus {
    outline: none;
}

.input-wrapper i:first-child {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey);
}

.error-message {
    font-size: 0.85rem;
    color: red;
    margin-top: 0.25rem;
}

#toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--grey);
}

.forgot-password-container {
    margin: 5px 0 15px 0;
    color: var(--clear-white);
    text-align: right;
}

.forgot-password-container a {
    color: var(--clear-white);
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password-container a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    padding: 12px 0;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: .25s;
}

button[type="submit"]:hover {
    opacity: 0.85;
}

@media (max-width: 1024px) {
    .login-container {
        flex-direction: column;
    }

    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.1rem;
    }


}

@media (max-width: 768px) {
    .right-section {
        width: 100%;
        height: 60%;
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 0.9rem;
    }

}
