body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--dark-blue);
}

form {
    background-color: var(--dark-blue-secondary);
    max-width: 500px;
    width: 80%;
    padding: 3rem;
    border-radius: 8px;
    color: var(--clear-white);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#page-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#reset-password-form div+div {
    margin-top: 1rem;
}

label {
    color: var(--off-white);
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    font-size: 1rem;
}


button[type="submit"] {
    background-color: var(--green);
    color: var(--off-white);
    border: none;
    margin-top: 0.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s ease;
    width: 100%;
    font-size: 1rem;
}

button[type="submit"]:hover {
    opacity: 0.85
}

p {
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: 0.375rem;
}

@media (max-width: 500px) {
    body {
        padding: 1rem;
    }

    form {
        padding: 1.5rem;
    }
}
