body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}

.otp-box {
    background: var(--dark-blue-secondary);
    max-width: 450px;
    width: 80%;
    padding: 2.5rem;
    border-radius: 8px;
    text-align: center;
}

#title {
    color: var(--off-white);
    font-size: 24px;
    margin-bottom: 20px;
}

#subtitle {
    color: var(--subtitle);
    font-size: 14px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

.otp-inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.otp-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    margin: 0 5px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85rem;
}

.btn-verify {
    background-color: var(--green);
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    border: none;
}

.btn-cancel {
    background-color: var(--grey);
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    display: block;
    text-decoration: none;
    border: none;
}

button:hover {
    opacity: 0.85;
}

form#form-cancel button {
    width: 100%;
    margin-top: 10px;
}

.recovery-code-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.recovery-code-wrapper a {
    color: var(--off-white);
    text-decoration: none;
}

.recovery-code-wrapper input {
    margin-top: 1rem;
    padding: 0.5rem;
}

.d-none {
    display: none;
}

@media screen and (max-width: 500px) {
    .otp-box {
        width: 95%;
        padding: 1rem;
    }

    .otp-input {
        width: 30px;
        height: 30px;
        font-size: 0.7rem;
    }

    button {
        font-size: 0.8rem;
    }
}
