.container {
    max-width: 1500px;
    width: 95%;
    margin: 2rem auto;
}

.cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}


.charts-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chart-card {
    background: var(--clear-white);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-header {
    margin-bottom: 1rem;

    h3 {
        text-align: center;
        font-size: 0.85rem;
        color: #2D3748;
    }
}

canvas {
    max-width: 100%;
    height: auto;
    display: block;
}

@media(min-width: 600px) {
    .charts-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-child-2 {
        grid-column: span 2;
    }

    .grid-child-3,
    .grid-child-4 {
        grid-column: span 3;
    }
}

@media(min-width: 800px) {
    .grid-child-3 {
        grid-column: span 2;
    }

    .grid-child-4 {
        grid-column: span 1;
    }
}

@media(min-width: 1200px) {
    .charts-section {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-child-2 {
        grid-column: span 2;
    }

    .grid-child-3 {
        grid-column: span 3;
    }

    .grid-child-4 {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}
