.container {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

#page-title {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#page-subtitle {
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
}

.headers {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.filter-group {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--clear-white);
    flex: 1;
}

.filter-button {
    padding: 3px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--off-white);
}

.filter-divider {
    width: 1px;
    background-color: var(--grey);
}

.type-select {
    padding: 3px 12px;
    border: none;
    color: #6c7987;
    font-size: 0.85rem;
    flex: 1;
    appearance: none;
    background-color: var(--off-white);
    cursor: pointer;
}

.refresh-button {
    padding: 3px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--off-white);
    border: none;
}

.headers-child.search-box {
    position: relative;
    flex: 2;
}

.search-box input {
    background-color: var(--off-white);
    width: 100%;
    padding: 0.15rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    font-size: 0.85rem;
}

.headers-child.button-box {
    margin: 0 auto;
}

#open-dialog-btn {
    background-color: var(--green);
    color: var(--off-white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity 0.25s;
}

#open-dialog-btn:hover {
    opacity: 0.85;
}

@media (min-width: 514px) {
    .headers {
        gap: 0rem;
        justify-content: space-between;
    }


    .headers-first-child {}

    .headers-child.button-box {
        margin-left: auto;
        margin-right: 0;
    }

    #open-dialog-btn {
        width: 100%;
    }

    .headers-child.search-box {
        /* position: relative; */
        flex: 1;
    }

    .filter-group {
        /* background-color: var(--clear-white); */
        flex: 1;
    }
}
