.container {
    max-width: 1500px;
    width: 95%;
    margin: 2rem auto;
}

.main-content {
    background-color: var(--clear-white);
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    #report-form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .form-select {
            width: 50%;
            display: flex;
            gap: 1rem;

            select {
                flex-grow: 1;
                padding: 0.375rem;
                background-color: var(--off-white);
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 0.25rem;
                outline: none;
            }

            select:hover {
                border: 1px solid rgba(0, 0, 0, 0.5);
            }
        }

        button {
            background-color: var(--main-blue);
            padding: 0.75rem 1rem;
            color: var(--off-white);
            border-radius: 0.25rem;
            border: none;
            outline: none;
            cursor: pointer;
            transition: opacity 0.15s;
        }

        button:hover {
            opacity: 0.85;
        }
    }
}

#set-custom-date-range-dialog h2 {
    padding: 1.25rem;
    font-size: 1.25rem;
}

#date-range-form {
    display: block;
    padding: 1.5rem;
}

.date-input-wrapper {
    display: flex;
    gap: 0.5rem;
}

.submit-btn-wrapper button {
    width: 100%;
    margin-top: 0.5rem;
}

.submit-btn-wrapper button:hover {
    opacity: 0.9;
}

@media (max-width: 450px) {
    #report-form {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        flex-wrap: wrap !important;

        .form-select {
            display: block;
            width: 100% !important;

            select {
                width: 100%;
            }
        }

        button {
            margin-top: 1rem;
            width: 100%;
        }
    }
}
